<!doctype html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/dashboad.css">

    <title>業績管理WEBアプリ（Bootstrap version）</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-info mt-3 mb-3 sticky-top">
        <a class="navbar-brand" type="button" th:href="@{/dashboad}">業績管理WEBアプリ</a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/dashboad}">ダッシュボード</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link active" th:href="@{/team}">チーム別</a>
                </li>                
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/shop}">店舗別</a>
                </li>                
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/master/shop}">マスタ</a>
                </li>
            </ul>
        </div>
        <div class="justify-content-end">
            <p class="mb-0">ログインユーザー 高瀬未菜美</p>
        </div>
    </nav>



    <main>
        <div class="container-fluid">
            <div class="row justify-content-md-center">
            <!--画面左半分-->
                <div class="screen_left col-3 d-flex flex-row flex-wrap align-content-start">
                    <!--左上選択欄-->
                    <div class="form_all mb-3">
                        <h1>全体</h1>
                        <form th:action="@{/team}" method="post" name="form_all">
                            <!--以下の箇所は年月を自動で増やしたり減らしたりしたい。基本は当期がデフォルト-->
                            <select name="periodId" id="periodId">
                               <option th:each="period:${periodList}" th:value="${period}" th:text="|${period}年度|">年度の表示</option>
                            </select>
                            <!--上記の期に合わせてvalueが変更になるイメージ。-->
                            <select name="monthId" id="monthId">
                                <option th:each="ym:${monthList}" th:value="${ym.month_id}" th:text="|${ym.month_year}年${ym.month_month}月|">年月の表示</option>
                            </select>
                            <select name="teamId" id="teamId">
                            <!--　余裕があったら全チーム表示も作る（チーム関係なく担当別を見たい人がいるかも？）
                                <option value="all_team">全チーム</option>
                            -->                            
                                <option th:each="team:${teamList}" th:value="${team.team_id}" th:text="|${team.team_name}チーム|">チーム名の表示</option>
                            </select>
                            <button type="submit">表示</button>
                            <input type="hidden" name="selectPeriod" id="selectPeriod" th:value="${selectPeriod}">
						    <input type="hidden" name="selectMonth" id="selectMonth" th:value="${selectMonth}">
						    <input type="hidden" name="selectTeam" id="selectTeam" th:value="${selectTeam}">
                        </form>
                    </div>

                    <!--左下KPI表示-->
                    <div class="d-flex flex-row flex-wrap  text-center">
                        <div class="bg-dark text-light col-6 pb-2">
                            <p class="mb-0 mt-2">粗利</p>
                            <p class="mb-0 font-weight-bold value_kpi" th:text="|${#numbers.formatDecimal(profitPar,2,1,'POINT')}%|">粗利達成率</p>
                        </div>
                        <div class="bg-dark text-light col-6 pb-2">
                            <p class="mb-0 mt-2">売上</p>
                            <p class="mb-0 font-weight-bold value_kpi" th:text="|${#numbers.formatDecimal(salesPar,2,1,'POINT')}%|">売上達成率</p>
                        </div>
                        <div class="bg-secondary text-light col-6 mb-3 pb-2">
                            <p class="mb-0" th:text="|計画　${#numbers.formatInteger(budget.shop_budget_sales, 3, 'COMMA')}円|">売上計画</p>
                            <p class="mb-0" th:text="|実績　${#numbers.formatInteger(achievement.shop_achievement_sales, 3, 'COMMA')}円|">売上実績</p>
                        </div>
                        <div class="bg-secondary text-light col-6 mb-3 pb-2">
                            <p class="mb-0" th:text="|計画　${#numbers.formatInteger(budget.shop_budget_profit, 3, 'COMMA')}円|">粗利計画</p>
                            <p class="mb-0" th:text="|実績　${#numbers.formatInteger(achievement.shop_achievement_profit, 3, 'COMMA')}円|">粗利実績</p>
                        </div>
                        <div class="bg-dark text-light col-6 mb-3 pb-2">
                            <p class="mb-0 mt-2">体験</p>
                            <p class="mb-0 font-weight-bold value_kpi" th:text="${achievement.shop_achievement_trial}">体験実績</p>
                            <p class="mb-0 value_bg" th:text="|/${budget.shop_budget_trial}|">体験計画</p>
                            
                        </div>
                        <div class="bg-dark text-light col-6 mb-3 pb-2">
                            <p class="mb-0 mt-2">契約</p>
                            <p class="mb-0 font-weight-bold value_kpi" th:text="${achievement.shop_achievement_contractor}">契約実績</p>
                            <p class="mb-0 value_bg" th:text="|/${budget.shop_budget_contractor}|">契約計画</p>
                        </div>            
                        <div class="bg-dark text-light col-6 mb-3 pb-2">
                            <p class="mb-0 mt-2">稼働人数</p>
                            <p class="mb-0 font-weight-bold value_kpi" th:text="${achievement.shop_achievement_user_count}">稼働人数実績</p>
                            <p class="mb-0 value_bg" th:text="|/${budget.shop_budget_user_count}|">稼働人数計画</p>
                        </div>
                        <div class="bg-dark text-light col-6 mb-3 pb-2">
                            <p class="mb-0 mt-2">延べ利用人数</p>
                            <p class="mb-0 font-weight-bold value_kpi pb-2" th:text="${achievement.shop_achievement_total_use}">延べ利用人数実績</p>
                            <p class="mb-0 value_bg" th:text="|/${budget.shop_budget_total_use}|">延べ利用人数計画</p>
                        </div>
                    </div>
                </div>
                
                
				<!--右上担当別-->
                <div class="screen_right col-6">     
                    <div class="mb-5">
                        <h1>担当別</h1>
                        <table class="table table-striped table-sm text-right team_tb">
                            <tr>
                                <th></th><th>粗利計画</th><th>粗利実績</th><th>達成率</th><th>売上計画</th><th>売上実績</th><th class="text-center">達成率</th>
                            </tr>
                            <tr th:each="repAchievement : ${repAchievementList}" th:object=${repAchievement}>
                                <th th:text="*{rep_name}" class="text-center">team_name</th>
                                <td th:text="*{#numbers.formatInteger(budget_profit, 3, 'COMMA')}">粗利計画</td><td th:text="*{#numbers.formatInteger(achivement_profit, 3, 'COMMA')}">粗利実績</td><td th:text="|*{#numbers.formatDecimal(profit_par,2,1,'POINT')}%|">粗利達成率</td>
                                <td th:text="*{#numbers.formatInteger(budget_sales, 3, 'COMMA')}">売上計画</td><td th:text="*{#numbers.formatInteger(achivement_sales, 3, 'COMMA')}">売上実績</td><td  th:text="|*{#numbers.formatDecimal(sales_par,2,1,'POINT')}%|">売上達成率</td>
                            </tr>
                        </table>
                    </div>

                </div>   
            </div>
        </div>
		
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
		<script src="/js/monthoption.js"></script>
    </main>

  </body>
</html>